/* Default CSS  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.container{
  width: 1200px;
  margin: 0 auto;
}


/* card css start  */

.card_section{
  padding: 50px 0;
}

.section-title {
    text-align: center;
    padding-bottom: 45px;
}

.section-title>h3 {
    font-size: 38px;
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.section-title>span {
    font-size: 20px;
    color: #696969;
    font-family: sans-serif;
    margin-top: 6px;
    display: block;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.natural{
 margin: 7px;
}

.icone{
  background-color: #f7e7ce;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px #c2b280;
 }

 h1{
  color: #654321;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-transform:capitalize;
  letter-spacing: 2px;
  text-shadow: -3px 3px 0px #c2b280;
 }

 p{
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #36454f;
 }

.natural{
 margin: 7px;
}
 .icone{
   background-color: #f7e7ce;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px #c2b280;
 }
 h1{
  color: #654321;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-transform:capitalize;
  letter-spacing: 2px;
  text-shadow: -2px 2px 0px #c2b280;
 }
 p{
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #36454f;
 }.card{
  background-color: ivory;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #c2b280;
  padding: 20px;
}
.natural{
 margin: 7px;
}
 .icone{
   background-color: #f7e7ce;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px #c2b280;
 }
 h1{
  color: #654321;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-transform:capitalize;
  letter-spacing: 2px;
  text-shadow: -3px 3px 0px #c2b280;
 }
 p{
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #36454f;
 }
 
 
 .card{
  background-color: ivory;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 3px #c2b280;
  padding: 20px;
  cursor: pointer;
  transition: 0.2s linear;
  display: block;
}


.natural{
 margin: 7px;
}
 .icone{
   background-color: #f7e7ce;
   width: 70px;
   height: 70px;
   margin: 0 auto;
   border-radius: 50px;
   box-shadow: 1px 1px 1px 1px #c2b280;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.2s linear;
 }
 h1{
  color: #654321;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-transform:capitalize;
  letter-spacing: 2px;
  text-shadow: -2px 2px 0px #c2b280;
  transition: 0.2s linear;
 }
 p{
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #36454f;
  transition: 0.2s linear;
 }

 .card:hover {
    transform: skew(-10deg);
    background: #181818;
    box-shadow: 2px 2px 5px 3px #353535;
    opacity: 0.8;
}

.card:hover .title h1, .card:hover .title strong p {
    color: white !important;
}

.card:hover .icone {
    background: white;
}

a.top_btn {
    background: blue;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    text-decoration: none;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 35px;
    right: 50px;
}

.section-title>h3::before {
    content: "";
    position: absolute;
    background: #ff0000;
    width: 100px;
    height: 3px;
    bottom: 0;
    left: 97px;
}

.child {
    width: 300px;
    height: 300px;
    padding: 20px;
    position: relative;
    top: -41rem;
    right: -44.4rem;
}

.child::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border: 8px solid #ff00e4;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
    z-index: 9;
}

.child::after {
    content: "";
    position: absolute;
    border: 4px solid #0000ff;
    width: 54px;
    height: 38px;
    border-top: none;
    top: 2.6rem;
    left: 1.13rem;
}